doctype html
html
  head
    title Solid-Octo-Engine
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='style.css')
    script(type='text/javascript', src='index.js')
  body(onload='initSOE()')
    #soe-body
      #soe-veil
    #soe-veil
