- manifest_path = pwa['short-name']+'.webmanifest'
doctype html
html
  head
    title= pwa.name
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='theme-color', content=pwa.theme_color)
    link(rel='stylesheet', href='style.css')
    link(rel='icon', href='icons/icon_128.png')
    link(rel='manifest', href=manifest_path)
    link(rel='apple-touch-icon', href='icons/icon_192.png')
    script(type='text/javascript', src='index.js')
  body(onload='initSOE()')
    #soe-glzone
    #soe-veil
      - var logo_width = '120'
      - var logo_height = '120'
      include logo.pug
      #soe-screen
        .soe-cl-titlebar
          img(src='icons/icon_128.png')
          .soe-cl-title Octo#[br]Solid#[br]Engine
        #soe-menu Veuillez patienter ...
