@font-face
  font-family: 'hack'
  src: url('static/hack_reg_nerdfont_complete.ttf') format("truetype")

body, button
  font-family: 'hack'

i
  font-style: normal
  margin-left: -5px
  font-size: 24px

.soe-cl-titlebar
  margin-bottom: 10px
  display: flex
  flex-direction: row
  justify-content: center
  align-content: center
  gap: 10px
  height: 128px

  .soe-cl-title
    text-align: left
    font-family: 'hack'
    font-weight: bold
    font-size: 34px
    display: flex
    align-items: center

#soe-menu
  width: 300px

  button
    background: white
    border: solid 1px black
    border-radius: 5px
    font-size: 19px

#soe-screen
  width: 330px
  margin: 20px auto
  max-height: calc(100vh - 50px)
  box-sizing: border-box
  border: solid 7px lightgray
  border-radius: 10px
  padding: 6px
  text-align: center
  display: flex
  flex-direction: column
  gap: 6px
  align-content: center
  justify-content: center

#soe-veil
  position: absolute
  width: 100vw
  height: 100vh
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: #fff8

@media (min-width: 700px)
  #soe-screen
    width: 600px
    flex-direction: row

